{% extends 'base.html' %}
{% block content %}

<h1>{{ pet.name }}</h1>
<h3>hello</h3>

{% if pet.photo_url %}
<img  src="{{ pet.photo_url }}">
{% endif %}

{% if pet.age %}
 <h2>{{ pet.age }}</h2>
{% endif %}

<form  method = "POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
            {{ error }}
            {% endfor %}
        </p>
    {% endfor %}
    <button>update</button>
</form>


{% endblock %}